main {
    margin: 20px;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin: auto;
    padding: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: #ffe5f1;
}

a:active {
    color: #ffbbde;
}

body {
    background-color: #FFCFE3;
}

.document {
    border-radius: 10px;
    box-shadow: 5px 5px 0px #FF4F9B;
    height: 150px;
    width: 150px;
}

img:hover[class="document"] {
    height: 160px;
    width: 160px;
}

.social {
    border-radius: 15px;
    box-shadow: 3px 3px 0px black;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.photo {
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

img:hover[class="photo"] {
    height: 160px;
    width: 160px;
}

.banniere {
    background-color: #D40D74;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

footer {
    color: white;
    background-color: #D40D74;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.licence_img {
    width: 100px;
}

.licence {
    color: white;
    background-color: #D40D74;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    p {
        font-size: 2em;
    }

    h1 {
        font-size: 4em;
    }

    a {
        font-size: 2em;
    }

    .photo {
        height: 200px;
        width: 200px;
    }

    img:hover[class="photo"] {
        height: 215px;
        width: 215px;
    }

    .document {
        height: 200px;
        width: 200px;
    }

    img:hover[class="document"] {
        height: 215px;
        width: 215px;
    }

    .social {
        height: 75px;
        width: 75px;
    }
}